:root{
    --height: 3.5rem;
    --first-color: hsl(354, 78%, 60%);
    --button-color: hsl(0, 0%, 17%);
    --button-color-alt: hsl(0, 0%, 21%);
    --card-color: hsl(0, 0%, 90%);
    --title-color: hsl(0, 0%, 15%);
    --text-color: hsl(0, 0%, 35%);
    --text-color-light: hsl(0, 0%, 55%);
    --body-color: hsl(206, 4%, 97%);
    --container-color: #fff;
    --border-color: hsl(0, 0%, 94%);
    --body-font: 'Roboto', sans-serif;
    --biggest-font-size: 2rem;
    --h1-font-size: 1.5rem;
    --h2-font-size: 1.25rem;
    --h3-font-size: 1rem;
    --normal-font-size: .938rem;
    --small-font-size: .813rem;
    --smaller-font-size: .75rem;
    --font-medium: 500;
    --font-bold: 700;
    --z-tooltip: 10;
    --z-fixed: 100;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}



h1{
    font-size: var(--h1-font-size);
}

h2{
    font-size: var(--h2-font-size);
}

h3{
    font-size: var(--h3-font-size);
}

p{
    color: var(--text-color);
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
    color: inherit;
}

.main{
    margin: auto 2rem;
    font-family: var(--body-font);
}

/*---CARTSHOP---*/

.cart{
    font-family: var(--body-font);
    display: flex;
        
    position: fixed;
    right: 0;
    width: 100vw;
    height: 100vh;

    padding-top: 5rem;
    align-items: center;
    gap: 2rem;
    flex-direction: column;
    background-color: #fff;
    transition: 0.5s;
    transform: translateX(100%);
    z-index: 2;
}

.cart__show{
    transform: translateX(0);
}

.cart__empty{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    padding: 1rem;
    text-align: center;
}

.clear__cart{
    background-color: var(--card-color);
    padding: 1rem;
    border-radius: 5%;
    cursor: pointer;
}

.cart__container{
    overflow-y: scroll;
}

.product__in__cart{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
    margin-bottom: 2rem;
}

.delete__button{
    background-color: var(--first-color);
    padding: 0.3rem;
    cursor: pointer;
}

.img__cart{
    width: 30%;
    height: 50%;
}


/*---HEADER---*/

.header{
    font-family: var(--body-font);
    
}

.nav__container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 2rem;
    height: 30px;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: var(--z-fixed);
    transition: 0.2s;

    left: 0;
    top: 0;
}

.scroll__nav{
    background-color: #fff;
    transition: 0.2s
}


.nav__logo{
    width: 35px;
    height: 35px;
    cursor: pointer;
}

.nav__cart{
    width: 30px;
    height: 30px;
    cursor: pointer;
}

.nav__store{
    display: flex;
    align-items: center;
}

.nav__btns{
    display: flex;
    column-gap: 1rem;
}

.nav__cart-counter{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--button-color);
    width: 15px;
    height: 15px;
    padding: 0.5rem;
    border-radius: 50%;
    position: absolute;
    top: 1.5rem;
    text-align: center;
    color: #fff;
}

.icon__menu{
    width: 35px;
    height: 35px;
    cursor: pointer;
}

/*---HOME---*/

.home{
    display: grid;
    gap: 2rem;
}

.home__img{
    display: flex;
    background-color: var(--first-color);
    align-items: flex-end;
    justify-content: center;
    padding-bottom: 2rem;
    width: 258px;
    height: 430px;
    justify-self: flex-end;
    transform: translateX(2rem);
}

.home__img img{
    width: auto;
}

img{
    max-width: 100%;
    height: auto;
}

.home__info{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.home__price{
    font-size: var(--h2-font-size);
    font-weight: var(--font-medium);
    color: var(--first-color);
}

.carts__btns{
    display: flex;
}

.cart__btn1{
    background-color: var(--text-color-light);
    padding: 1rem;
    max-height: 90%;
    align-self: center;
}

.cart__btn1:hover{
    background-color: var(--text-color);
    color: #fff;
    cursor: pointer;
    transition: 0.3s;
}

.cart__btn2{
    background-color: var(--button-color);
    padding: 1rem;
    color: #fff;
}

.cart__btn2:hover{
    background-color: var(--first-color);
    cursor: pointer;
    transition: 0.3s;
}

/*---PRODUCTS---*/

.main__products{
    display: flex;
    flex-direction: column;
    gap: 3rem;
    margin: 4rem auto;
}

.filter__products{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
    justify-content: center;
    align-content: center;
    text-align: center;
    margin-bottom: 2rem;
}

.filter__products > div{
    cursor: pointer;
}

.product__line{
    position: relative;
}

.product__line::before{
    content: '';
    position: absolute;
    width: 1px;
    height: 40px;
    background-color: var(--text-color-light);
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto 0;
}


.products__container{
    display: grid;
    grid-template-columns: 200px;
    justify-content: center;
    gap: 2rem;
}

.product__image{
    background-color: var(--card-color);
    padding: 0.5rem 1.5rem;
    border-radius: 0.5rem 0.5rem 0 0;
}

.product__description{
    background-color: var(--body-color);
    display: flex;
    flex-direction: column;
    padding: 1rem;
    border-radius: 0 0 0.5rem 0.5rem;
}

.product__description span{
    font-size: var(--normal-font-size);
    font-weight: var(--font-medium);
}

.product__box{
    position: relative;
}

.product__add{
    display: flex;
    position: absolute;
    border-radius: 50%;
    background-color: #fff;
    width: 45px;
    height: 45px;
    justify-content: center;
    align-items: center;
    right: 1rem;
    top: 9.5rem;
    box-shadow: 0 4px 12px hsl(206deg 4% 4% / 20%);
}

.product__add:hover{
    background-color: var(--first-color);
    cursor: pointer;
    transition: 0.3s;
}

/*---FOOTER---*/

.footer{
    display: flex;
    flex-direction: column;
    background-color: var(--card-color);
    font-family: var(--body-font);
}

.footer__container{ 
    display: grid;
    justify-content: start;
    padding: 6rem 0 0 2rem;
    gap: 2rem;
}

.footer__container > div{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.footer__list{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.social__icons{
    display: flex;
    column-gap: 1rem;
}

.social__icon{
    background-color: var(--text-color);
    padding: 0.3rem;
    border-radius: 15px;
}

.footer__rights{
    color: var(--text-color);
    margin: 3rem;
    text-align: center;
}

/*---Media--*/

@media (max-width: 991px) {
    .nav__menu{
        display: flex;
        
        position: fixed;
        top: 50px;
        left: 0;
        width: 100vw;
        height: 100vh;

        padding-top: 5rem;
        align-items: center;
        gap: 2rem;
        flex-direction: column;
        background-color: #fff;
        transform: translateX(-100%);
        transition: 0.5s;
    }

    .menu__show{
        transform: translateX(0);
        transition: 0.5s;
    }
}


@media (min-width: 992px) {

    :root {
        --biggest-font-size: 2.5rem;
        --h1-font-size: 2.25rem;
        --h2-font-size: 1.5rem;
        --h3-font-size: 1.25rem;
        --normal-font-size: 1rem;
        --small-font-size: .875rem;
        --smaller-font-size: .813rem;
      }

      *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    .center{
        justify-self: center;
    }
    
    .container{
        margin: 0 6rem 8rem 6rem;
    }

    .cart{
        width: 30%;
    }
    
    /*---HEADER---*/

    .icon__menu{
        display: none;
    }

    .nav__menu{
        display: flex;
        column-gap: 2rem;
        position: relative;
        right: 23rem;
    }

    .nav__menu li a span{
        color: var(--first-color);
    }

    /*---HOME---*/

    .home{
        grid-template-columns: 1fr max-content;
        align-items: center;
        gap: 5rem;
    }

    .home__info{
        margin-left: 5rem;
    }

    .home__img{
        order: 1;
        display: flex;
        background-color: var(--first-color);
        align-items: center;
        justify-content: center;
        padding-top: 10rem;
        margin: auto 5rem;
        width: 480px;
        height: 480px;
        transform: none;
    }

    /*---PRODUCTS---*/

    .filter__products{
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }

    .products__container{
        grid-template-columns: 1fr 1fr 1fr;
    }

    .product__add{
        width: 70px;
        height: 70px;
        top: auto;
        bottom: 3rem;
    }

    .product__add h2{
        font-size: 50px;
    }

    /*---FOOTER---*/


    .footer__container{
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }

    .footer{
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }

}